@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Cuprum&family=Inter&family=Jomhuria&family=Montserrat:wght@300&family=Nunito+Sans&family=Rubik:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none ;
    background: rgb(255,173,5);
    background: linear-gradient(0deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    font-family: Rubik, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
}

a.nav_links{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

a.nav_links:hover {
    color: #3519e3;
}

.logo-info {
    display: flex;
    align-items: center;
}

#recycle_star_logo {
    margin-right: 10px; 
}

#recycle_star_word_logo {
    display: flex;
    align-items: center;
}

.nav_links_container {
    float: right;
}

.nav_links {
    text-decoration: none;
}

.wrapper {
    width: 70%;
    text-align: center;
    margin: auto;
}

.page_title {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: x-large;
    margin: 5rem 0;
}

.page_desc {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 5rem 0;
}

.challenge_display {
    border-radius: 25px;
    margin: 1rem auto;
    padding: 3rem 0;
    background-color: #FFECC5;
}

.challenge_name {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.find_challenge_button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 2.5rem auto 2rem auto;
    border-radius: 10px;
    height: fit-content;
    width: 210px;
    padding: 1rem 1rem;
    background: #5BC57A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.join_us {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin: 1.5rem auto 5rem auto;
    text-align: left;
    width: 90%;
}

/* Footer */

footer {
    background: rgb(255,173,5);
    background: linear-gradient(180deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}


.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  .carousel-container {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
  }

  .carousel {
    width: 640px;
    height: 360px;
  }

  .carousel-message {
    margin: 20px 0;
  }