@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Cuprum&family=Inter&family=Jomhuria&family=Montserrat:wght@300&family=Nunito+Sans&family=Rubik:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none ;
    background: rgb(255,173,5);
    background: linear-gradient(0deg, rgba(255,173,5,0.0214679621848739) 0%, rgba(255,173,5,1) 100%);
    font-family: Rubik, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
}

a.nav_links{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

a.nav_links:hover {
    color: #3519e3;
}

.logo-info {
    display: flex;
    align-items: center;
}

#recycle_star_logo {
    margin-right: 10px; 
}

#recycle_star_word_logo {
    display: flex;
    align-items: center;
}

.nav_links_container {
    float: right;
}

.nav_links {
    text-decoration: none;
}

/* Footer */

footer {
    background: rgb(255,173,5);
    background: linear-gradient(180deg, rgba(255,173,5,0.0214679621848739) 0%, rgba(255,173,5,1) 100%);
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}
