@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Cuprum&family=Inter&family=Jomhuria&family=Montserrat:wght@300&family=Nunito+Sans&family=Rubik:wght@400;500;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none ;
    background: rgb(255,173,5);
    background: linear-gradient(0deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    font-family: Rubik, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
}

a.nav_links{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

a.nav_links:hover {
    color: #3519e3;
}

.logo-info {
    display: flex;
    align-items: center;
}

#recycle_star_logo {
    margin-right: 10px; 
}

#recycle_star_word_logo {
    display: flex;
    align-items: center;
}

.nav_links_container {
    float: right;
}

.nav_links {
    text-decoration: none;
}

.wrapper {
    width: 70%;
    margin: 1rem auto;
}

.intro {
    display: flex;
    justify-content:space-between;
}

.intro p {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.intro .buttons {
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    background: #5BC57A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.intro .buttons a {
    text-decoration: none;
    color: black;
}

.game_name {
    margin: 3rem auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.mini_game {
    border-radius: 25px;
    border: 25px solid #64A3FF;
    margin: 1rem auto;
    padding: 3rem 0;
    position: relative;
}

.play_button {
    position: absolute;
    top: 150px;
    left: 350px;
    z-index: 1;
    width: 350px;
}

.recyclable_items_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.recyclable_item_container {
    width: 100px;
}

.items {
    height: 100px;
}

.bins_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bins {
    width: 80px;
    margin: 0 2rem;
}

.hidden {
    display: none;
}

.nonvisible {
    visibility: hidden;
}

.score {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 5rem auto 0 auto;
    border-radius: 10px;
    height: fit-content;
    width: 150px;
    padding: 1rem 1rem;
    background: #5BC57A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.play_again_div {
    text-align: center;
}

footer {
    background: rgb(255,173,5);
    background: linear-gradient(180deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    padding: 20px;
    text-align: center;
}

.play_again {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
    border-radius: 10px;
    height: fit-content;
    width: 100px;
    padding: 0.5rem 0.5rem;
    background: rgba(255, 173, 5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.star_given_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 3em 0;
}

.welcome_text {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.how_to_play_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: large;
}

.how_to_play {
    border-radius: 25px;
    background: #CEF4FB;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
    padding: 3rem;
    margin-bottom: 5rem;
    font-family: 'Nunito Sans', sans-serif;
}

.how_to_play ol li {
    margin: 1rem 0;
}

footer {
    background: rgb(255,173,5);
    background: linear-gradient(180deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    font-family: 'Rubik', sans-serif;
    height: 50px;
    padding: 20px;
    text-align: center;
    line-height: 50px;
}