@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Cuprum&family=Inter&family=Jomhuria&family=Montserrat:wght@300&family=Nunito+Sans:wght@400;700&family=Rubik:wght@300;700&display=swap');



body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none ;
    background: rgb(255,173,5);
    background: linear-gradient(0deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 3rem;
}

a.nav_links{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

/* .logo-info {
    display: flex;
    align-items: center;
} */

/* #recycle_star_logo {
    margin-right: 10px; 
} */

/* #recycle_star_word_logo {
    display: flex;
    align-items: center;
} */

.nav_links_container {
    float: right;
}

.nav_links {
    text-decoration: none;
}

a.nav_links:hover {
    color: #3519e3;
}

main {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }


.earth_picture_container {
    width: 40%;
    margin: auto;
}

#earth_picture {
    animation: rotate360 95s linear infinite;
    margin: 1rem 0 5rem 0;
    filter: drop-shadow(0 0 15px #348dbc);
}

@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.impact_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 5rem;
    padding: 50px 20px;
    background-color: rgba(150, 206, 172, 0.3);
}

.impact_cards {
    width: 200px;
    padding: 1rem;
}

.impact_card_titles {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0;
}

.impact_card_desc {
    margin-top: 0;
}

.card_titles {
    font-weight: 700;
}

.intro_textbox {
    width: 40%;
    margin: auto;
    text-align: left;
}

.intro_textbox .card_descriptions {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.intro_textbox .card_descriptions::first-letter {
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
}

.intro_card_last_desc {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

.cards_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    font-family: 'Rubik', sans-serif;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .card {
      width: 70%;
    }
  }

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 3rem 3rem;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.25);
    margin: 0 10px;
}

.card_icons_container {
    border-radius: 15px;
    background: #ADCFFF;
    width: 70px;
    height: 70px;
}

.buttons {
    border-radius: 5px;
    line-height: 40px;
    width: 150px;
    height: 40px;
    background: #5BC57A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttons a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: black;
    font-weight: 800;
}

footer {
    background: rgb(255,173,5);
    background: linear-gradient(180deg, rgba(255,173,5,0) 0%, rgba(255,173,5,0.25) 100%);
    font-family: 'Rubik', sans-serif;
    height: 50px;
    padding: 20px;
    text-align: center;
    line-height: 50px;
  }
  
   