@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Cuprum&family=Inter&family=Jomhuria&family=Montserrat:wght@300&family=Nunito+Sans:wght@400;700&family=Rubik:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none ;
    background: rgb(255,173,5);
    background: linear-gradient(0deg, rgba(255,173,5,0.0214679621848739) 0%, rgba(255,173,5,1) 100%);
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
}

a.nav_links{
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.logo-info {
    display: flex;
    align-items: center;
}

#recycle_star_logo {
    margin-right: 10px; 
}

#recycle_star_word_logo {
    display: flex;
    align-items: center;
}

.nav_links_container {
    float: right;
}

.nav_links {
    text-decoration: none;
}

.earth_picture_container {
    width: 30%;
    margin: auto;
}

#earth_picture {
    animation: rotate360 90s linear infinite;
}

@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.impact_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.impact_cards {
    width: 200px;
}

.impact_card_titles {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0;
}

.impact_card_desc {
    margin-top: 0;
}

.intro_textbox {
    width: 70%;
}

.card_titles {
    font-weight: 700;
}

.intro_textbox {
    border-radius: 15px;
    background: #B9EAFF;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin: auto;
    text-align: center;
}

.intro_textbox .intro_card_titles {
    font-family: 'Jomhuria', cursive;
    font-size: 3rem;
    margin: 0;
    color: rgba(25, 80, 65, 1);
}

.intro_textbox .card_descriptions {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.intro_textbox .card_descriptions::first-letter {
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
}

.intro_card_last_desc {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

.cards_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}